In [21]:
# 11.1
from zoo import hours

hours()

Open 9-5 daily

In [24]:
# 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [33]:
# 16.8
#to set up the database
#import sqlite3
#conn = sqlite3.connect('books.db')
#curs = conn.cursor()

#Creation of the table
#curs.execute('''CREATE TABLE books
#    (title VARCHAR(50) PRIMARY KEY,
#     author VARCHAR(40),
#     year INT)''')

#data for the table books
#ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
#curs.execute(ins, ('The Weirdstone of Brisingamen', 'Alan Garner', 1960))

#ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
#curs.execute(ins, ('Perdido Street Station', 'China Mi√©ville', 2000))

#ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
#curs.execute(ins, ('Thud!', 'Terry Pratchet', 2005))

#ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
#curs.execute(ins, ('The Spellman Files', 'Lisa Lutz', 2007))

#ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
#curs.execute(ins, ('Small Gods', 'Terry Pratchett', 1992))

#testing to see if the insertion of data was successful
#curs.execute('SELECT * FROM books')
#rows = curs.fetchall()
#print(rows)

#connection.close()

In [ ]:
# 16.8
#for the actual homework problem 16.8 - I have ran into many errors since I could not get the inital table to function
#like I wanted for testing purposes
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

#connection to the table in SQLite3
engine = sa.create_engine('sqlite:///books.db')

#table to use it to query 
class BooksTable(Base):
    __books__ = 'bookNames'
    title = sa.Column(sa.String(50), primary_key = True)
    author = sa.Column(sa.String(50))
    year = sa.Column(sa.Float)

#fetching the columns
query = sa.select([BooksTable.title])
query = query.order_by([BooksTable.title])

#gathing the data
result = engine.execute(query).fetchall()

#view results
for record in result:
    print(record[0])